:root {
    --primary:  #666666;
    --white: #ffffff; 
  } 
  
  .fTLogo {
    width: 5%;
    float: left;
  }
  
  body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
  }
  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  }  
  .jumbotron {
    background-color: var(--primary);
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
  }
  .container-fluid {
    padding: 60px 50px;
  }
  .bg-grey {
    background-color: #f6f6f6;
  }
  .navbar {
    margin-bottom: 0;
    background-color: var(--primary);
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: var(--primary) !important;
    background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }
  
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 1200px) {
    .fTLogo {
      display: none;
    }
    .fTLogoText {
      display: none;
    }
  }
  
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
      width: 100%;
      margin-bottom: 35px;
    }
    .fTLogo {
      display: none;
    }
    .fTLogoText {
      display: none;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
      font-size: 150px;
    }
    .fTLogo {
      display: none;
    }
    .fTLogoText {
      display: none;
    }
  }
  
  
  
  
  .DatneschutzBanner {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2147483645;
    box-sizing: border-box;
    width: 100%;
  
    background-color: #F1F6F4;
  }
  
  .DatneschutzBannerInner {     
    max-width: 960px;
    margin: 0 auto;
    padding: 32px 0;
  }
  
  .DatneschutzBannerCopy { 
    margin-bottom: 16px;
  }
  
  
  .DatneschutzBannerHeader {
    margin-bottom: 8px;
    
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }
  
  .DatneschutzBannerDescription {
    font-weight: normal;
    color: #838F93;
    font-size: 16px;
    line-height: 24px;
  }
  
  
  
  .DatneschutzBannerBtn {
    background-color: var(--primary);
    border: none;
    color: white;
    min-width: 164px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  
  .DatneschutzBannerBtn:hover {
    background-color: #20BA68;
  } 
  
  .dNone {
    display: none;
  }
  
  .dE {
    color: black;
  }


  /* login and register */
  .login-container{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 30%;
}
.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}
.login-form-2{
    padding: 5%;
    background: #0062cc;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    color: #fff;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}
.login-form-2 .btnSubmit{
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;
}
.login-form-2 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}

.register-form-inline{
  margin-bottom: 1em !important;
}


.logInBtn {
    margin-top: .5em !important;
}

.RegisterBtn {
  font-weight: 600;
}

.ExistAccBtn {
  font-weight: 600;
}

/* cards */
body{margin-top:20px;
  background:#f1f2f7;
  }
  
  /*panel*/
  .panel {
      border: none;
      box-shadow: none;
  }
  
  .panel-heading {
      border-color:#eff2f7 ;
      font-size: 16px;
      font-weight: 300;
  }
  
  .panel-title {
      color: #2A3542;
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 0;
      margin-top: 0;
      font-family: 'Open Sans', sans-serif;
  }
  
  
  /*product list*/
  
  .prod-cat li a{
      border-bottom: 1px dashed #d9d9d9;
  }
  
  .prod-cat li a {
      color: #3b3b3b;
  }
  
  .prod-cat li ul {
      margin-left: 30px;
  }
 
  .prod-cat li ul li a{
      border-bottom:none;
  }
  .prod-cat li ul li a:hover,.prod-cat li ul li a:focus, .prod-cat li ul li.active a , .prod-cat li a:hover,.prod-cat li a:focus, .prod-cat li a.active{
      background: none;
      color: #ff7261;
      cursor: pointer !important;
  }
  
  .pro-lab{
      margin-right: 20px;
      font-weight: normal;
  }
  
  .pro-sort {
      padding-right: 20px;
      float: left;
  }
  
  .pro-page-list {
      margin: 5px 0 0 0;
  }
  
  .product-list img{
      width: 100%;
      border-radius: 4px 4px 0 0;
      -webkit-border-radius: 4px 4px 0 0;
  }
  
  .product-list .pro-img-box {
      position: relative;
  }
  .adtocart {
      background: #fc5959;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      color: #fff;
      display: inline-block;
      text-align: center;
      border: 3px solid #fff;
      left: 45%;
      bottom: -25px;
      position: absolute;
  }
  
  .adtocart i{
      color: #fff;
      font-size: 25px;
      line-height: 42px;
  }
  
  .pro-title {
      color: #5A5A5A;
      display: inline-block;
      margin-top: 20px;
      font-size: 16px;
      min-height: 5em;
  }
  
  .product-list .price {
      color:#fc5959 ;
      font-size: 15px;
  }
  
  .pro-img-details {
      margin-left: -15px;
  }
  
  .pro-img-details img {
      width: 100%;
  }
  
  .pro-d-title {
      font-size: 16px;
      margin-top: 0;
  }
  
  .product_meta {
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
      padding: 10px 0;
      margin: 15px 0;
  }
  
  .product_meta span {
      display: block;
      margin-bottom: 10px;
  }
  .product_meta a, .pro-price{
      color:#fc5959 ;
  }
  
  .pro-price, .amount-old {
      font-size: 18px;
      padding: 0 10px;
  }
  
  .amount-old {
      text-decoration: line-through;
  }
  
  .quantity {
      width: 120px;
  }
  
  .pro-img-list {
      margin: 10px 0 0 -15px;
      width: 100%;
      display: inline-block;
  }
  
  .pro-img-list a {
      float: left;
      margin-right: 10px;
      margin-bottom: 10px;
  }
  
  .pro-d-head {
      font-size: 18px;
      font-weight: 300;
  }

  .bootdey {
    margin-top: 2em;
    min-height: 35em;
  }


  /* shopping card bag */
  .badge {
    padding-left: 12px;
    /* padding-right: 9px; */
    /* -webkit-border-radius: 9px; */
    /* -moz-border-radius: 9px; */
    /* border-radius: 9px; */
    margin-top: .3em !important;
  }
  
  .label-warning[href],
  .badge-warning[href] {
    background-color: #c67605;
  }
  #lblCartCount {
      font-size: 13px;
      background: #1FA2D7;
      color: #fff;
      /* padding: 0 5px; */
      vertical-align: top;
      margin-left: -10px !important; 
  }

  .sC {
    margin-top: .4em !important;
    margin-left: .4em !important;
    color: white;
  }
  
.sC2:hover {
  color: pink;
  cursor: pointer;
}

.sC3:hover {
  cursor: not-allowed;
}

.productImg {
    width:  100px;
    height: 200px;
    object-fit: scale-down;
}

.freshTekFooter {
  background-color: var(--primary);
  color: white;
  font-family: Montserrat, sans-serif;
  font-size: large;
}

.carousel .item {
  height: 300px;
}


.carouselimg {

  width: 100% !important;
  /* height: 300px;
  object-fit: scale-down; */
}

.maxWidth {
  max-width: 60% !important;
}




/* test */
/* 
body {
  background: #ddd;
  min-height: 100vh;
  vertical-align: middle;
  display: flex;
  font-family: sans-serif;
  font-size: 0.8rem;
  font-weight: bold
} */

.title {
  margin-bottom: 5vh
}

.card {
  margin: auto;
  max-width: 950px;
  width: 90%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent
}

@media(max-width:767px) {
  .card {
      margin: 3vh auto
  }
}

.cart {
  background-color: #fff;
  padding: 4vh 5vh;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem
}

@media(max-width:767px) {
  .cart {
      padding: 4vh;
      border-bottom-left-radius: unset;
      border-top-right-radius: 1rem
  }
}

.summary {
  background-color: #ddd;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 4vh;
  color: rgb(65, 65, 65)
}

@media(max-width:767px) {
  .summary {
      border-top-right-radius: unset;
      border-bottom-left-radius: 1rem
  }
}

.summary .col-2 {
  padding: 0
}

.summary .col-10 {
  padding: 0
}

.row {
  margin: 0
}

.title b {
  font-size: 1.5rem
}

.main {
  margin: 0;
  padding: 2vh 0;
  width: 100%
}

.col-2,
.col {
  padding: 0 1vh
}

a {
  padding: 0 1vh
}

.close {
  margin-left: auto;
  font-size: 0.7rem
}

.imgCart {
  width: 3.5rem
}

.back-to-shop {
  margin-top: 4.5rem
}

h5 {
  margin-top: 4vh
}

hr {
  margin-top: 1.25rem
}

form {
  padding: 2vh 0
}

select {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1.5vh 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247)
}

input {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247)
}

input:focus::-webkit-input-placeholder {
  color: transparent
}

.btnCart {
  background-color: #000;
  border-color: #000;
  color: white;
  width: 100%;
  font-size: 0.7rem;
  margin-top: 4vh;
  padding: 1vh;
  border-radius: 0
}

.btnCart:focus {
  box-shadow: none;
  outline: none;
  box-shadow: none;
  color: white;
  -webkit-box-shadow: none;
  -webkit-user-select: none;
  transition: none
}

.btnCart:hover {
  color: white
}

a {
  color: black
}

a:hover {
  color: black;
  text-decoration: none
}

#code {
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center
}